<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Quiz est-ce ?</title>
<style>
button {
    color : red;
}
img{
    width:300px;
}
div.haut {
    text-align:center;
}
div.choix{
    color:grey;
}
div.fin{
    text-align:right;
}
</style>
</head>
<body>
    <div class="haut">
<img src="https://imagizer.imageshack.com/img923/7952/zyiSU1.png" />
<br>
<h1>Bienvenue</h1>
<br>
</div>
<form method="put">
  <fieldset>
    <legend>Pseudo</legend>
    <input type="text" placeholder="Entrez votre pseudo" />
    <button> <strong> Valider </strong></button>
  </fieldset>
</form>
<form method="post">
  <fieldset>
    <legend>Thèmes</legend>
    <div class="choix">
        <p>Sélectionnez un thème</p>
        </div>
    <label><input type="radio" name="radio">Buteurs Français</label>
  </fieldset>
</form>
<br>
<div class="fin">
<button> <strong> Commencer la partie</strong></button>
</div>
</body>
</html>