<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Quiz est-ce ?</title>
<style>
button {
    color : red;
}
img{
    width:300px;
}
</style>
</head>
<body>
<img src="https://imagizer.imageshack.com/img923/7952/zyiSU1.png" /> 
<br>
<h1>Bienvenue</h1>
<br>
<form method="post">
  <fieldset>
    <legend>Pseudo</legend>
    <input type="text" placeholder="Entre ton pseudo" />
    <button> <strong> Valider </strong></button>
  </fieldset>
</form>
<form method="post">
  <fieldset>
    <legend>Thèmes</legend>
    <label><input type="radio" name="radio">Buteurs Français</label>
  </fieldset>
</form>
<br>
<button> <strong> Commencer </strong></button>
</body>
</html>