<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Quiz est-ce ?</title>
<style>
body{
    background:black;
    color:white;
}
button {
    color : red;
}
img{
    width:300px;
}
div.haut {
    text-align:center;
    text-transform: uppercase;
}
div.choix{
    color:gray;
}
div.fin{
    text-align:right;
}
div.liens{
    text-transform: lowercase;
}
</style>
</head>
<body>
    <div class="haut">
<img src="https://imagizer.imageshack.com/img923/7952/zyiSU1.png" />
<br>
<h1><font face ="Sans-serif">Bienvenue</font></h1>
<br>
</div>
<form action="" method="get">
  <fieldset>
    <legend>Pseudo</legend>
    <input type="text" placeholder="Entrez votre pseudo" />
    <button onclick="enregistrer()"> <strong> Valider </strong></button>
  </fieldset>
</form>
<form method="get">
  <fieldset>
    <legend>Thèmes</legend>
    <div class="choix">
        <p>Sélectionnez un thème</p>
        </div>
    <label><input type="radio" name="radio">Buteurs Français</label>
  </fieldset>
</form>
<br>
<div class="fin">
<form action="WindowHome.html">
<button> <strong> Commencer la partie</strong></button>
</form>
</div>
<div class="liens">
    <a href="WindowQuestion.html"><font size="2" color="gray">règles du jeu</font></a>
    <hr>
<a href="WindowAboutUs.html"><font size="2" color="gray">à propos de nous</font></a>
</div>
</body>
</html>