<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Buteurs Francais</title>
<style>
body{
    background:black;
    color:white;
}
img{
    height:200px;
}
div.plateau{
    
}
div.questions{
    
}
</style>
</head>
<body>
    <div class="plateau">
    <form method="get">
        <legend>Buteurs français</legend>
        <table>
            <tr>
                <td><button><h5>Thierry Henry</h5><img src="https://upload.wikimedia.org/wikipedia/commons/1/14/Thierry_Henry_MLS_All_Star_2013.jpg"
                title="Thierry Henry" /></button></td>
                <td></td>
            </tr>
        </table>
        </form>
        </div>
        <table>
            <tbody>
                <tr th:if="${identite.empty}">
                    <td colspan="3">Aucun joueur en base de données</td>
                </tr>
                <tr th:each="id: ${identite}">
                    <td><button><h5><span th:text="${identite}"></span></h5></button></td>
                </tr>
            </tbody>
        </table>
<div class="questions">
<form method="get">
  <fieldset>
    <legend>Sélectionnez une question</legend>
    <label><button ></button></label>
  </fieldset>
</form>
</div>
</body>
</html>