<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Quiz est-ce ?</title>
<style>
img{
width:150px;
}
body{
    background:black;
    color:white;
}
div.haut {
    text-align:center;
    text-transform: uppercase;
}
div.txt {
text-align: justify;
}
div.end {
 text-align:right;
}
div.date {
text-align:center;
}
</style>
</head>
<body>
<form action="WindowHome.html">
<button style="background-color:black ; border-color:black" ><img src="https://imagizer.imageshack.com/img923/7952/zyiSU1.png" /></button>
</form>
<div class="haut">
<h1><font face ="Sans-serif">A propos de nous</font></h1>
</div>
<div class="txt">
<h3><font face ="Sans-serif">Qui sommes nous ?</font></h3>
<p>
Nous sommes trois étudiants en troisième année de licence mathématiques et 
informatiques appliquées aux sciences humaines et sociales (MIASHS) à l'université 
Grenoble Alpes. 
La création du jeu "quiz est-ce ?" est l'objectif de notre projet de groupe de ce semestre. 
</p>
<h3><font face ="Sans-serif">Quel est le but de ce jeu ?</font></h3>
<p>
Le but est d'offrir une version alternative au "qui est-ce ?" pour un public plus large 
en le rendant accessible en ligne et en incluant des informations de culture 
générale au sein d'une partie de jeu.
</p>
</div>
<hr>
<div class="date">
<h6>publié le 16 janvier 2023</h6>
</div>
<div class="end">
<label><strong>Raphaël Delattre</strong></label>
<br>
<label><strong>Chaimae Hmamed</strong></label>
<br>
<label><strong>Aurore Philippe</strong></label>
</div>
</body>
</html>